---
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";

import profile from "@/assets/profile.jpg";
---

<Layout title="Software Engineering Portfolio | MAD4869">
    <main
        class="min-h-[calc(100dvh-8rem)] text-fuchsia-400 py-4 flex flex-col items-center px-16 gap-8 md:flex-row"
        transition:animate="fade"
    >
        <div>
            <Image
                src={profile}
                alt="Profile Photo"
                width={profile.width / 2}
                class="rounded-full"
            />
        </div>
        <div
            class="w-px min-h-[calc(100dvh-10rem)] rounded-full bg-fuchsia-400/10 hidden md:block"
        >
        </div>
        <article class="w-full md:w-1/2 space-y-4">
            <h1
                class="text-3xl font-bold prose text-fuchsia-400 text-center md:text-left"
            >
                Muhammad Akbar Dermawan
            </h1>
            <p class="prose text-fuchsia-200 text-center md:text-left">
                I am a graduate of the Dentistry program at Universitas
                Airlangga, currently transitioning to a career in data and
                technology with a focus on data engineering and web development.
                With experience gained through a bootcamp education and
                freelance projects, I am ready to pursue a career as a data
                engineer and web developer.
            </p>
        </article>
    </main>
</Layout>
