---
import { Image } from "astro:assets";

import bgHome from "@/assets/bg-home.png";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="MAD4869 | MAkbarD's Blog" useFooter={false}>
    <main class="relative py-8" transition:animate="fade">
        <Image
            src={bgHome}
            alt="Home Background"
            class="max-h-[calc(100dvh-9rem)]"
            width={bgHome.width / 2}
        />
        <h1 class="absolute bottom-0 left-0 text-fuchsia-400 text-9xl">
            MAkbarD
        </h1>
    </main>
</Layout>
