---
import Layout from "@/layouts/Layout.astro";
import UnderConstruction from "@/components/ui/UnderConstruction.astro";
---

<Layout title="Notes | MAD4869">
    <main
        class="min-h-[calc(100dvh-8rem)] text-fuchsia-400 py-4 flex items-center px-16 gap-8"
        transition:animate="fade"
    >
        <UnderConstruction />
    </main>
</Layout>
