---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import Slider from "@/components/ui/Slider";

const engineeringPortfolios = await getCollection("engineering");
---

<Layout title="Software Engineering Portfolio | MAD4869">
    <main
        class="min-h-[calc(100dvh-8rem)] text-fuchsia-400 py-16 lg:py-4 flex flex-col items-center px-16 gap-8 lg:flex-row"
        transition:animate="fade"
    >
        <div class="flex flex-col items-center lg:items-start">
            <div
                class="px-8 py-px rounded-full bg-fuchsia-800 text-fuchsia-400 w-fit"
            >
                <h2 class="text-xl text-center">Portfolio</h2>
            </div>
            <h1 class="text-5xl font-bold text-center lg:text-left">
                Software Engineering
            </h1>
        </div>
        <div
            class="w-px min-h-[calc(100dvh-10rem)] rounded-full bg-fuchsia-400/10 lg:block hidden"
        >
        </div>
        <article class="w-full lg:w-1/2">
            <Slider client:only="react" portos={engineeringPortfolios} />
        </article>
    </main>
</Layout>
