---
// import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import UnderConstruction from "@/components/ui/UnderConstruction.astro";

// const writingPortfolios = await getCollection("writing");
---

<Layout title="Writing Portfolio | MAD4869">
    <main
        class="min-h-[calc(100dvh-8rem)] text-fuchsia-400 py-16 md:py-4 flex flex-col items-center px-16 gap-8 md:flex-row"
        transition:animate="fade"
    >
        <div class="flex flex-col items-center md:items-start gap-2">
            <div
                class="px-8 py-px rounded-full bg-fuchsia-800 text-fuchsia-400 w-fit"
            >
                <h2 class="text-xl text-center">Portfolio</h2>
            </div>
            <h1 class="text-5xl font-bold text-center">Writing</h1>
        </div>
        <div
            class="w-px min-h-[calc(100dvh-10rem)] rounded-full bg-fuchsia-400/10 hidden md:block"
        >
        </div>
        <article class="w-1/2">
            <UnderConstruction />
        </article>
    </main>
</Layout>
